<div style="margin:20px;">
    
    <div style="width:300px;margin:0px auto;text-align:center;">
        <span style="font-size:200%;font-weight:600;">You're good to go!</span>
    </div>
    
    <div style="width:300px;margin:0px auto;text-align:center;padding-top:50px;">
        <img src='<%= Rails.configuration.access_point["webserver_domain"] %>/hero.jpg' style="width:300px;"/>
    </div>    
    
    <div style="width:300px;margin:0px auto;text-align:center;padding-top:50px;">
        <span style="font-size:125%;font-weight:300;"><%= raw @body %></span>
    </div>
    
    <div style="width:300px;margin:0px auto;text-align:center;padding-top:50px;">
        <span style="font-size:125%;font-weight:300;">If you have any questions or need to change your account type, we'd love to <a href='<%= Rails.configuration.access_point["webserver_domain"] %>/help' style="text-decoration:underline;">help</a> you! Don't be shy.</span>
    </div>
	
    <div style="width:300px;margin:0px auto;text-align:center;padding-top:50px;">
        <span style="font-size:125%;font-weight:300;">Denis, Creator of BlogEmbed.com</span>
    </div>

</div>